spring.application.name=placeholder
spring.datasource.url=jdbc:postgresql://localhost:5432/placeholder
spring.datasource.username=placeholder
spring.datasource.password=placeholder
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true